{% extends 'base/base_main.html' %}
{% load static %}
{% block MyCss %}
    {{   block.super }}
    <link rel="stylesheet" href="{% static 'axf/market/css/market.css' %}">
{% endblock %}

{% block content %}
    <div id="market">
{#    分类#}
    <aside>
        <ul>
            {% for i in goodstypes %}
                <li>
                    <a href="{% url 'axf:market_with_param' i.typeid %}">{{ i.typename }}</a>
                    {% ifequal i.typeid selectedid%}
                        <span class="yellowSlide"></span>
                    {% endifequal %}
                </li>
            {% endfor %}
        </ul>
    </aside>

{#全部类型和综合排序#}
    <section>
        <nav>
            <ul>
                <li>
                    <span id="all_types_btn">全部类型 <span class="glyphicon glyphicon-chevron-down" id="type_icon"></span></span>
                </li>
                <li>
                   <span>综合排序 <span class="glyphicon glyphicon-chevron-down" id="sort_icon"></span></span>
                </li>
            </ul>
        </nav>
{#        商品信息#}
        <menu>
            <ul>
                {% for i in goods %}
                    <li>
                        <a href="#">
                            <img src="{{ i.productimg }}" alt="">
                            <div class="shoppingInfo">
                                <h6>{{ i.productname }}</h6>
                                <p class="detailTag">
                                    <span>精选</span>
                                    <span></span>
                                </p>
                                <p class="unit">{{ i.specifics }}</p>
                                <p class="price">
                                    <span>￥{{ i.price }}</span>
                                    <s>{{ i.marketprice }}</s>
                                </p>
                            </div>
                        </a>
                        <section>
                            <button class="subShopping">-</button>
                                <span>0</span>
                            <button class="addShopping">+</button>
                        </section>
                    </li>

                {% endfor %}
            </ul>

            <div id="categroy_container">
                <div>
                    <a href="#">
                        <button class="btn btn-success">
                                全部分类
                        </button>
                    </a>
                </div>
            </div>
        </menu>
    </section>

    </div>
{% endblock %}

{% block myJs %}
    {{block.super }}
    <script type="text/javascript" src="{% static 'axf/market/js/market.js' %}"></script>
{% endblock %}